:root {
  --primaryColor: #212121;
  --secondaryColor: #757575;
  --activeColor: #2196f3;
  --sectionBg: #2f303a;
  --btnBg: #f5f4fa;
  --colorText: #ffffff;
}
body {
  margin: 0;

  color: var(--primaryColor);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
  color: var(--primaryColor);
}
.btn {
  color: var(--colorText);
  background-color: var(--activeColor);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;

  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--active {
  color: var(--colorText) !important;
  background-color: var(--activeColor) !important;
}
.title__section {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}

/* Шапка сайта */
.header,
.contacts__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header .container {
  display: flex;
}

/* Навигация */
.logo {
  color: #000000;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-right: 93px;
  padding: 24px 0px;
}
.logo span {
  color: var(--activeColor);
}
.nav {
  display: flex;
  align-items: center;
}
.nav__links {
  display: flex;
}
.nav__links li:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  display: block;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link-active::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.nav__link:hover,
.nav__link:focus,
.nav__link-active,
.address__location:hover,
.contacts .contacts__item:hover,
.contacts .contacts__item:focus,
.address__location:focus {
  color: var(--activeColor);
}

/* Контакты */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item {
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  padding: 32px 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item svg {
  margin-right: 10px;
}
.contacts li:last-child {
  margin-left: 50px;
}
.header__contacts .contacts__item svg {
  fill: var(--secondaryColor);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts .contacts__item:hover svg,
.header__contacts .contacts__item:focus svg {
  fill: var(--activeColor);
}

/* --- Студия --- */

/* --- first-screen */

.first-screen {
  background-color: var(--sectionBg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}
.first-screen .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrapper {
  width: 696px;
}
.first-screen__title {
  color: var(--colorText);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.first-screen__btn {
  padding: 10px 32px;
}
.first-screen__btn:hover {
  color: var(--activeColor);
  background-color: var(--btnBg);
}

/* --- advantages */

.advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.advantages__title {
  font-size: 0px;
}
.advantages__items {
  display: flex;
}
.advantages__item {
  width: 270px;
}
.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--btnBg);
  border-radius: 4px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__subtitle {
  color: var(--primaryColor);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  color: var(--secondaryColor);
  line-height: 1.7;
}

/* --- work */

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}
.work__title {
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin: -15px;
}
.work__item {
  margin: 15px;
}
.work__item .box {
  position: relative;
  width: 100%;
  height: 100%;
}
.work__item .box p {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--colorText);

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* --- team */

.team {
  background-color: var(--btnBg);
  padding: 94px 0px;
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  margin: -15px;
}
.team__item {
  text-align: center;
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item .box {
  padding: 30px 32px;
  background-color: var(--colorText);
}
.team__subtitle {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  margin-bottom: 10px;
}
.team__text {
  color: var(--secondaryColor);
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__item a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__item a:hover,
.social-list__item a:focus,
.footer .social-list__item a:hover,
.footer .social-list__item a:focus {
  background-color: var(--activeColor);
}
.social-list__item svg {
  fill: #afb1b8;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-list__item a:hover svg,
.social-link:focus svg {
  fill: var(--colorText);
}
.clients-list {
  display: flex;
}

/* --- clients */

.clients {
  padding: 94px 0px;
}
.clients__title {
  margin-bottom: 50px;
}
.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-list__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover,
.clients-list__link:focus {
  border: 1px solid var(--activeColor);
}
.clients-list__item svg {
  fill: #afb1b8;

  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .clients-list__item:hover svg,
.clients-list__link:focus svg {
  fill: var(--activeColor);

  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

/* --- Portfollio --- */

.section-portfolio {
  border-top: 1px solid #ececec;
  padding: 94px 0px;
}
.section-portfolio .tittle {
  font-size: 0;
}
.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list__btn {
  display: inline-block;
  color: var(--primaryColor);
  background-color: var(--btnBg);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  box-shadow: none;
  padding: 6px 22px;
}
.filter-list__btn:hover,
.filter-list__btn:focus {
  background-color: var(--activeColor);
  color: var(--colorText);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-list__btn.btn-active {
  color: var(--colorText);
}
.content-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.item {
  margin: 15px;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item:hover .wrapper::before,
.item__link:focus .wrapper::before,
.item:hover .wrapper > p,
.item__link:focus .wrapper > p {
  opacity: 1;
  transform: translateY(0%);
  overflow: auto;
}
.item__link {
  display: inline-block;
  position: relative;
}
.item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item__link .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.item__link .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  /* transition-property: opasity, transform; */
  transition: 0.25s linear;
}
.wrapper > p {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  padding: 60px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--colorText);

  opacity: 0;
  transform: translateY(100%);
  transition-property: opasity, transform;
  transition: 0.25s linear;
}

.item__wrapper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.item__tittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.item__text {
  color: var(--secondaryColor);

  font-size: 16px;
  line-height: 1.86;
}

/* --- Footer */

.footer {
  background-color: var(--sectionBg);
  padding: 60px 0px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  color: var(--colorText);
  display: block;
  margin-bottom: 20px;
  padding: 0;
}
.footer__address {
  margin-right: 70px;
}
.address {
  font-style: normal;
}
.address__location {
  color: var(--colorText);
  margin-bottom: 9px;
  display: block;
}
.address .contacts {
  display: inline;
}
.address .contacts li:first-child {
  margin-bottom: 9px;
}
.address .contacts li:last-child {
  margin-left: 0px;
}
.address .contacts__item {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  padding: 0;
}
.footer__social p,
.footer__form p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  color: var(--colorText);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .social-list__item svg {
  fill: var(--colorText);
}
.footer .social-list__item a {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-list__item:not(:last-child) {
  margin-right: 10px;
}

/* --- form-footer */
.footer__form {
  margin-left: auto;
}
.form-footer {
  display: flex;
}
.form-footer__field {
  position: relative;
}
.form-footer__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input:focus + label,
.form-footer__input:not(:placeholder-shown) + label {
  transform: translateY(30px);
}
.form-footer__input:focus-visible {
  border-color: var(--activeColor);
  outline: var(--activeColor);
}
.form-footer label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 0.2s linear;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
input.form-footer__input::placeholder {
  color: transparent;
}
.form-footer__btn,
.form-modal__btn {
  height: 50px;

  margin-left: 12px;
  padding: 0px 29px;
}
.form-footer__btn:hover,
.form-footer__btn:focus,
.form-modal__btn:hover,
.form-modal__btn:focus {
  color: var(--activeColor);
  background-color: var(--btnBg);
}
.form-footer__btn .send {
  fill: var(--colorText);
  vertical-align: middle;
  margin-left: 10px;

  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer__btn:hover .send,
.form-footer__btn:focus .send {
  fill: var(--activeColor);
}

/* --- modal window */

.bakdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--colorText);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: var(--colorText);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
}
.close:hover::after,
.close:focus::after,
.close:hover::before,
.close:focus::before {
  background: var(--activeColor);
}
.close:hover::after,
.close:focus::after {
  transform: rotate(-225deg);
}
.close:hover::before,
.close:focus::before {
  transform: rotate(225deg);
}
.close::after,
.close::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;

  height: 1px;
  width: 13px;
  background: #000;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.close::after {
  transform: rotate(-45deg);
}
.close::before {
  transform: rotate(45deg);
}
.no-scroll {
  overflow: hidden;
}

/* --- form-modal */

.form-modal__input,
.form-modal__label,
.form-modal__btn {
  display: block;
}
.modal strong {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  color: var(--primaryColor);
  margin-bottom: 12px;
}
.form-modal__label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondaryColor);
}
.form-modal__label:not(:last-child) {
  margin-bottom: 10px;
}
.form-modal__label:nth-child(4) {
  margin-bottom: 20px;
}
.form-modal__label span {
  display: block;
  margin-bottom: 4px;
}
.form-modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    outline 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus-visible + svg {
  fill: var(--activeColor);
}
.form-modal__input:focus-visible,
.form-modal__text:focus-visible {
  border-color: var(--activeColor);
  outline: var(--activeColor);
}
.icon-name,
.icon-phone,
.icon-mail {
  position: absolute;
  top: calc(50% + 4px);
  left: 15px;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__text::placeholder {
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-modal__checkbox {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.form-modal__checkbox:focus {
  border: var(--activeColor);
}
.form-modal__field .form-modal__label {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.7;
}
.form-modal__field .form-modal__label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-image: url(../img/bd-check.svg);
  transition: background-image 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__field .form-modal__label a {
  color: var(--activeColor);
}
.form-modal__checkbox:checked + .form-modal__label::before {
  background-image: url(../img/icon-check.svg);
}
.form-modal__btn {
  width: 200px;
  margin: 0 auto;
  box-shadow: none;
}
.form-modal__btn:hover,
.form-modal__btn:active {
  border: 1px solid var(--activeColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
