/* --- Footer */

.footer {
  background-color: $sectionBg;
  padding: 60px 0px;
}

.footer__address {
  margin-right: 70px;
}

.footer__social-title,
.footer__form-title {
  @include fonts($colorText, null, 16px, 700, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 20px;
}

