/* --- Footer */

.footer {
  background-color: $sectionBg;
  padding: 60px 0px;
}

.footer__address {
  margin-right: 70px;
}

.footer__social-title,
.footer__form-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  color: $colorText;
  text-transform: uppercase;
  margin-bottom: 20px;
}

