@mixin fonts($col, $ff, $fs, $fw, $lh, $ls) {
  color: $col;
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin btn($col: $colorText, $bg-c: $activeColor, $f-col: $activeColor, $f-bg-c: $btnBg) {
  @include fonts($col, null, 16px, 700, 1.9, null);
  background-color: $bg-c;

  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $f-col;
    background-color: $f-bg-c;
    border: 1px solid $activeColor;
  }

}
  