%btn {
  color: $colorText;
  background-color: $activeColor;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;

  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $activeColor;
    background-color: $btnBg;
  }
  &--active {
    color: $colorText !important;
    background-color: $activeColor !important;
  }
}

