// contacts

.contacts {
  display: flex;
  margin-left: auto;
  .address & {
    display: inline;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding: 0;
  }

  // .address .contacts__item {

  // }
.contacts__item {
  .address & {
    margin-left: 0;
  }
}
}
.contacts__link {
  @extend %link;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondaryColor;
  display: flex;
  align-items: center;
  padding: 32px 0;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $activeColor;
  }
  .address &:first-child {
    padding: 0;
    color: inherit;
    margin-bottom: 9px;
  }
  .address &:last-child {
    padding: 0;
    margin-left: 0px;
  }
}
.contacts__icon {
  margin-right: 10px;
  fill: $secondaryColor;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  .contacts__item:hover &,
  .contacts__link:focus & {
    fill: $activeColor;
  }
}
.contacts__item {
  &:last-child {
    margin-left: 50px;
  }
}


