/* --- first-screen */

.first-screen {
  background-color: var(--sectionBg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg.jpg);
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}
.first-screen .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrapper {
  width: 696px;
}
.first-screen__title {
  color: var(--colorText);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.first-screen__btn {
  padding: 10px 32px;
}
.first-screen__btn:hover {
  color: var(--activeColor);
  background-color: var(--btnBg);
}