// logo

.logo {
  @extend %link;
  @include fonts(#000000, Raleway, 26px, 700, 1.2, null);
  margin-right: 93px;
  padding: 24px 0px;
  & span {
    color: $activeColor;
  }
  .footer & {
    color: $colorText;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
}