/* --- modal window */

.bakdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: $colorText;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: $colorText;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  &:hover::after,
  &:focus::after {
    background: $activeColor;
    transform: rotate(-225deg);
  }
  &:hover::before,
  &:focus::before {
    background: $activeColor;
    transform: rotate(225deg);
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;

    height: 1px;
    width: 13px;
    background: #000;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}
// .close:hover::after,
// .close:focus::after,
// .close:hover::before,
// .close:focus::before {
//   background: $activeColor;
// }
// .close:hover::after,
// .close:focus::after {
//   transform: rotate(-225deg);
// }
// .close:hover::before,
// .close:focus::before {
//   transform: rotate(225deg);
// }
// .close::after,
// .close::before {
//   content: "";
//   position: absolute;
//   top: 14px;
//   left: 8px;

//   height: 1px;
//   width: 13px;
//   background: #000;
//   transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
// }
// .close::after {
//   transform: rotate(-45deg);
// }
// .close::before {
//   transform: rotate(45deg);
// }
.no-scroll {
  overflow: hidden;
}