// navigation

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  @extend %link;
  @include fonts($primaryColor, null, null, 500, 1.14, 0.02em);
  position: relative;
  padding: 32px 0px;
  display: block;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $activeColor;
  }
  &--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  &--active {
    color: $activeColor;
  }
}

