
body {
  @include filter($primaryColor, (Roboto, sans-serif), 14px, 400, null, 0.03em);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  .footer & {
    display: flex;
    align-items: baseline;
  }
}